{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/build/map.js') }}"></script>
{% endblock %}

{% block body %}
    <div style="background-color: skyblue;height: 200px;">
    MAP
    </div>
{% endblock %}
