<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
Version: 5.0.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en" >
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>
			Metronic | Dashboard
		</title>
		<meta name="description" content="Latest updates and statistic charts">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>
		<!--end::Web font -->
        <!--begin::Base Styles -->
        <!--begin::Page Vendors -->
		<link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors -->
        <!-- /metronic/metronic-5.0.5/metronic_v5.0.5/metronic_v5.0.5/theme/default/dist/demo5 -->
		<link href="/metronic/metronic-5.0.5/metronic_v5.0.5/metronic_v5.0.5/theme/default/dist/demo5/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metronic/metronic-5.0.5/metronic_v5.0.5/metronic_v5.0.5/theme/default/dist/demo5/assets/demo/demo5/base/style.bundle.css" rel="stylesheet" type="text/css" />
        {% block stylesheet %}
        {% endblock %}
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/metronic/metronic-5.0.5/metronic_v5.0.5/metronic_v5.0.5/theme/default/dist/demo5/assets/demo/demo5/media/img/logo/favicon.ico" />
	</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body class="m-page--wide m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
            {{ include('elements/header.html.twig', { 'variable': 'test' }) }}

            <!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
				{% block body %}{% endblock %}
			</div>
			<!-- end::Body -->

            {{ include('elements/footer.html.twig') }}
		</div>
		<!-- end:: Page -->

	    <!-- begin::Scroll Top -->
		<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->

        {% block javascripts %}
        	<!--begin::Base Scripts -->
            <!-- /metronic/metronic-5.0.5/metronic_v5.0.5/metronic_v5.0.5/theme/default/dist/demo5 -->
    		<script src="/metronic/metronic-5.0.5/metronic_v5.0.5/metronic_v5.0.5/theme/default/dist/demo5/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    		<script src="/metronic/metronic-5.0.5/metronic_v5.0.5/metronic_v5.0.5/theme/default/dist/demo5/assets/demo/demo5/base/scripts.bundle.js" type="text/javascript"></script>
    		<!--end::Base Scripts -->
        {% endblock %}
        <!--begin::Page Vendors -->
		<script src="assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->
        <!--begin::Page Snippets -->
		<script src="/metronic/metronic-5.0.5/metronic_v5.0.5/metronic_v5.0.5/theme/default/dist/demo5/assets/app/js/dashboard.js" type="text/javascript"></script>
		<!--end::Page Snippets -->
	</body>
	<!-- end::Body -->
</html>
